<!DOCTYPE html>
<html lang="en">
<%- include('./partials/title.ejs')  %>
<body>
    <h1>Hello from Home</h1>
    <%- include('./partials/nav.ejs') %>
    <h2>Blogs</h2>
    <div>
        <% if(blContent){ %>
            <% blContent.forEach(({header,content}) => { %>
                <h3>
                    <%= header %>
                </h3>
                <p>
                    <%= content %>
                </p>
            <% }) %>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>